@import "../../../assets/style/_shared.scss";

#pageable-container {
  display: grid;
  grid-template-columns:
    [previous-page] 10%
    [first-page] 10%
    [col-pages] 60%
    [last-page] 10%
    [next-page] 10%;
  margin: 2rem 0;
}

.pageable-button {
  background-color: $primary-color-light;
  border: 0;
  font-size: 1rem;
}

.active-page {
  border-bottom: 1px solid $secondary-color-dark;
}

.pageable-button:hover {
  color: $secondary-color-light;
  border-bottom: 1px solid $secondary-color-light;
  cursor: pointer;
}

#pageable-row {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: col-pages;
}

#pageable-previous {
  grid-column-start: previous-page;
  color: $secondary-color;
}

#pageable-next {
  grid-column-start: next-page;
  color: $secondary-color;
}
