@import "../assets/style/_shared.scss";

#content {
  width: 80%;
  margin: auto;
}

.text-important {
  background-color: $secondary-color-light;
}

a:link {
  color: $link-color;
}

a:visited {
  color: $link-color;
}

a:hover {
  color: $secondary-color-light;
}
