@import "../../assets/style/_shared.scss";

$search-bar-border: 1px solid $secondary-color-dark;

.form-container {
  margin: 1rem 0;
  width: auto;
}

#search-form {
  position: relative;
  justify-content: left;
  width: 100%;
}

#search-bar {
  background-color: $primary-color;
  padding: 0.7rem;
  font-size: 1.5rem;
  width: 60%;
  border: 0;
  border-bottom: $search-bar-border;
  cursor: text;
}

#search-button {
  position: absolute;
  height: 100%;
  width: auto;
  background-color: $primary-color;
  border: 0;
  border-bottom: $search-bar-border;
  cursor: pointer;
}

#search-button:hover {
  background-color: $secondary-color;
}

#search-button:active {
  background-color: $secondary-color-dark;
}
