$background-color: #ffffff;
$primary-color: #f2f2f2;
$primary-color-light: #ffffff;
$primary-color-dark: #bfbfbf;
$secondary-color: #7daf37;
$secondary-color-light: #afe167;
$secondary-color-dark: #4c7f00;
$text-color: #899ba3;
$main-font: 'Poppins', sans-serif;
