@import "../../../assets/style/_shared.scss";

.filter-border-bottom {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.filter-border-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#filter-container {
  @extend .filter-border-top;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.filter-dropdown {
  background-color: $secondary-color-light;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  @extend .filter-border-top;
  
  img {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.filter-dropdown:hover {
  background-color: $secondary-color;
  cursor: pointer;
}

#filter-dropdown-unactive {
  @extend .filter-border-bottom;
}

#category-dropdown-menu {
  @extend .filter-border-bottom;
  display: grid;
  grid-template-columns: repeat(3, [col-types] 33%);
  background-color: $primary-color;
  padding: 2rem 1rem 3rem 1rem;
}

@media (max-width: 500px) {
  #category-dropdown-menu {
    display: flex;
    flex-direction: column;
  }
}
