@import "../../assets/style/_shared.scss";

.dropdown-category {
  font-size: 1.5rem;
  bottom: 0;
}

.dropdown-checkbox {

  input[type="checkbox"] {
    opacity: 0;
  }

  label {
    cursor: pointer;
    position: relative;

    // 16px width of fake checkbox + 6px distance between fake checkbox and text
    padding-left: 2rem;
  }

  label::before, label::after {
    position: absolute;
    content: "";
    
    // Needed for the line-height to take effect
    display: inline-block;
  }

  /*Outer box of the fake checkbox*/
  label::before{
    height: 16px;
    width: 16px;
    
    border: 3px solid $secondary-color-dark;
    left: 0px;

    // (24px line-height - 16px height of fake checkbox) / 2 - 1px
    // for the border to vertically center it.
    top: -3px;
  }

  // Checkmark of the fake checkbox
  label::after {
    height: 6px;
    width: 12px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    color: $secondary-color-dark;

    left: 4px;
    top: 3px;
  }

  // Hide the checkmark by default
  input[type="checkbox"] + label::after {
    content: none;
  }

  // Unhide the checkmark on the checked state
  input[type="checkbox"]:checked + label::after {
    content: "";
  }

  // Adding focus styles on the outer-box of the fake checkbox
  input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }
}

.dropdown-title:hover {
  cursor: pointer;
  color: $secondary-color;
};

.dropdown-title {
  display: inline-flex;
}
