@import "../../../assets/style/shared";
$active-color: #cbef53;

@mixin button-shadow {
  -webkit-box-shadow: 8px 10px 13px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 10px 13px -9px rgba(0,0,0,0.75);
  box-shadow: 8px 10px 13px -9px rgba(0,0,0,0.75);
}

.sub-category-button {
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.sub-category-button:hover {
  background-color: $secondary-color;
  @include button-shadow;
  cursor: pointer;
}

.sub-category-button:active {
  background-color: $secondary-color;
  @include button-shadow;
}

.toggled-on {
  background-color: $secondary-color-light;
  @include button-shadow;
}
